/* List page */
.tab-content >.active.table {
    display: table;
}
.nav-list > .active > a {
    cursor: text;
}
.row-actions {
    visibility: hidden;
}
tr:hover .row-actions {
    visibility: visible;
}
td {
    word-break: break-all;
}
#pi-article .nav-pills > .active > a {
    color: #333;
    font-weight: bold;
    background: none;
    cursor: text;
}
#jsList  .table-striped tbody tr:nth-child(2n+1) th {
    background: #eee;
}
#jsList .table-striped {
    border: 1px solid #ccc;
}
#jsList .form-inline {
    margin-bottom: 15px;
}
#jsList .form-search {
    margin: 0 20px 0 0;
}
div .well {
    max-width: 340px;
    padding: 8px 0;
}

/* User level edit page */
.btn-group ul {
     left: -220px;
}
.article-add-category-button {
    margin-left: 5px;
    border-radius: 4px;
    height: 24px;
    line-height: 24px;
}
.article-each-category .label {
    height: 20px;
    line-height: 20px;
    float: left;
    margin: 5px;
}
.article-each-category .close {
    float: none;
    margin-left: 3px;
    visibility: hidden;
}

.article-route-content {
    border-radius: 4px;
    border: 1px solid #dddddd;
    padding: 10px 10px 0 10px;
}

.article-route-content > div {
    margin-bottom: 20px;
}

.article-route-header {
    height: 20px;
}

.article-route-header span {
    font-weight: bold;
    font-size: 14px;
}

#article-route-form,
#article-route-param {
    margin-top: 30px;
}

#article-js-route > div {
    margin-bottom: 20px;
}

#article-js-route li > span:first-child {
    width: 150px;
    display: inline-block;
}

/* Author photo upload */
.article-uploaded-box {
    border: 1px solid #e5e5e5;
    float: left;
    margin-right: 40px;
    width: 300px;
    height: 300px;
    overflow: hidden !important;
    *position: relative;
    *z-index: 10;
}

.article-upload-hit {
    text-align: center;
    margin-top: 120px;
}

.article-preview-box {
    border: 1px solid #dddddd;
    overflow: hidden;
}

.article-preview-photo {
    border: 1px solid #dddddd;
    margin-left: 10px;
    text-align: center;
    overflow: hidden;
}

.article-preview-photo i {
    color: #A7A7A7;
    font-size: 80px;
    margin-top: 15px;
    display: block;
}

.article-preview {
    margin-left: 320px;
}

.article-preview .preview-desc {
    color: #c09853;
    margin-bottom: 10px;
}

.article-preview .preview-desc-size {
    margin-left: 20px;
    width: 110px;
    text-align: center;
    margin-top: 10px;
}
